.sideBarOptions {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  color: grey;
  transition: 200ms color ease-in;
}

.sideBarOptions:hover {
  color: white;
}


.sideBarOptions_icon {
  padding-left: 10px;
  padding-right: 10px;
}

.sideBarOptions > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}